.plan {
  &__header {
    font-size: 2em !important;
    margin-bottom: 1em !important;
    text-align: center;
  }

  &__btn-container {
    text-align: center;
  }

  &__btn {
    margin: 2em !important;
  }

  &__content {
    margin: 2em;
  }
}