.tasklist {
  

  &__plan-prompt {
    font-size: 1.2em;
    line-height: 1.7em !important;
  }
}

@media only screen and (max-width: 768px) {
  .responsive-calendar {
    font-size: 6px !important;
  }
}