// variables

$watermark-height: 40vmin;
$accent-color: hsl(183, 31%, 34%);
$background-color: #ffffff;
$secondary-color: #ffffff;

// global

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden !important;
}

body {
  background-color: $background-color;
}

.App {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3em;
  min-height: 100vh;
  overflow: hidden !important;
}

.btn {
  background-color: $accent-color !important;
  color: white !important;
  transition-duration: 1s;
  cursor: pointer;
  &:hover {
    filter: brightness(1.1);
  }
}

.secondary {
  background-color: $secondary-color !important;
}

input {
  background-color: $background-color !important;

  &::placeholder {
    color: #555 !important;
  }
}

// others

.watermark {
  color: $accent-color;
  opacity: 20%;
}

#assignments {
  margin: 1em;
}

#controls {
  margin: 1em;
  text-align: right;
}