// variables

$watermark-height: 40vmin;
$accent-color: hsl(183, 31%, 34%);
$background-color: #ffffff;
$secondary-color: #ffffff;

// global

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden !important;
}

body {
  // background-color: $background-color;
  // soft green 
  background-image: linear-gradient(140deg, #c1dfc4 0%, #deecdd 100%);
  // soft blue
  // background-image: linear-gradient(200deg, #FFFEFF 0%, #D7FFFE 100%);
  // soft blue-pink
  // background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  // soft gray-blue
  // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

// * { border: 1px solid red; }

.App {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3em;
  min-height: 100vh;
  overflow: hidden !important;
}

.btn {
  @apply shadow-lg rounded-full cursor-pointer text-xl font-medium focus:outline-none;
  @apply bg-gray-50 bg-opacity-40 border-emerald-700 border-2 text-emerald-700 hover:text-emerald-600 hover:border-emerald-600;
  &.pad {
    @apply py-1.5 px-5 h-12;
  }
}

input {
  @apply py-2 px-5 rounded-full shadow-lg bg-gray-50 bg-opacity-40;
  @apply border-emerald-700 border-opacity-50 border-2 focus:border-opacity-100;
}